/**
** Default Styles
**/

/*
** FONT STYLES
*/

.font_1 {
    font-size: 33px;
    font-weight: normal;
}
.font_2 {
    font-size: 16px;
}
.font_3{
    font-family: "HelveticaLTStd-Roman";
    font-size: 16px;
}
.font_4 {
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 22px;
}
body{
    font-family: "HelveticaNeue-Light";
    font-weight: normal;
    text-transform: none;
    color: #ffffff;
    user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent; /* To remove it */
    -webkit-overflow-scrolling: touch;
}
body * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*-webkit-transform: translateZ(0) translate3d(0,0,0);*/
    /*-moz-transform: translateZ(0) translate3d(0,0,0);*/
    /*-ms-transform: translateZ(0) translate3d(0,0,0);*/
    /*-o-transform: translateZ(0) translate3d(0,0,0);*/
    /*transform: translateZ(0) translate3d(0,0,0);*/
}
html body .ui-page a.blueBtn{
    background: none repeat scroll 0 0 #0291c8;
    border: 2px solid #0181ab;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-weight: 400;
    line-height: 40px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    width: 90%;
}
html body .ui-page a.blueBtn:active{
    background: none repeat scroll 0 0 #026EC8;
}
.btnText{
    color: #ffffff;
    display: block;
    font-family: HelveticaLTStd-Roman;
    line-height: 30px;
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    padding-left: 15px;
}
.container{
    border-width: 0;
    /*padding: 16px;*/
}
.innerContainer{
    margin: 0 auto;
    max-width: 300px;
}

.ui-header{
    background: rgb(0,92,133);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjMDA1Yzg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1Mzc5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg,  rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(0,92,133,1)), color-stop(100%,rgba(5,55,147,1)));
    background: -webkit-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -o-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: linear-gradient(135deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
    border: medium none;
    height: 60px;
    line-height: 60px;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.ui-header .menuBtn{
    cursor: pointer;
    float: left;
    margin: 14px 20px;
    width: 32px;
}
.ui-header .title{
    color: #fff;
    float: left;
    font-size: 20px;
    margin: 0;
}
.ui-header .back{
    cursor: pointer;
    margin: 0 0 0 20px;
    text-decoration: none;
}
.ui-header .back img{
    margin: 22px 8px 0 0;
    vertical-align: top;
    width: 12px;
}
.ui-header .home{
    display: block;
    float: right;
    height: 40px;
    margin: 7px 20px 0 0;
    position: relative;
    text-align: center;
    width: 40px;
    position: relative;
    z-index: 2;
}

/*
/* MENU STYLES
*/
.slicknav_menu {
    display: block;
    position: absolute;
    width: 90%;
    top: 0;
    background: rgb(0,92,133);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjMDA1Yzg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1Mzc5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg,  rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(0,92,133,1)), color-stop(100%,rgba(5,55,147,1)));
    background: -webkit-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -o-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    /*background: linear-gradient(125deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
    padding: 0;
    list-style: none;
    margin: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: auto;
    /*max-height: 0;*/
    padding:0 5%;
    /*display: none;*/
    padding-top: 30px;
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
#menu li {
    position: relative;
}
#menu li .arrow{
    position: absolute;
    right: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#menu li.bottom a {
    display: inline-block;
    width: auto;
}
#menu li.bottom .arrow{
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    font-size: 23px;
    cursor: pointer;
}
#menu li.bottom .arrow.menuBtn {
    margin: 0;
    width: auto;
    float: none;
    right: 10%;
}
#menu li.username span:last-child{
    padding-left: 15px;
}
#menu li.username span {
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'HelveticaNeueLTStd-Bd';
}
#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'HelveticaNeue-Light';
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 100;
}
#menu li a span:last-child {
    padding-left:15px;
}
#menu li.username span.circle {
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
}
#menu li span.icon{
    display: inline-block;
    background-image: url("../img/menu-icons-sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    vertical-align: middle;
    width: 32px;
    height: 30px;
    margin: 7px;
}
#menu li span.icon.contacts {
    background-position: center 3px;
}
#menu li span.icon.msg {
    background-position: center -29px;
}
#menu li span.icon.camp {
    background-position: center -66px;
}
#menu li span.icon.reports {
    background-position: center -100px;
}
#menu li span.icon.config {
    background-position: center -135px;
}
#menu li span.icon.exit {
    background-position: center -170px;
}
#menu li hr{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    height: 1px;
}

#menu li.vSpace {
    height: 0;
}








.headerSelectors{
    overflow: hidden;
}
.campaignSelector{
    overflow: hidden;
}
.campaignSelector p{
    display: none;
}
.campaignSelector .ui-select,
.dateRangeSelector .ui-select{
    margin: 0;
}
.campaignSelector .ui-select > div.ui-btn:after,
.dateRangeSelector .ui-select > div.ui-btn:after{
    background: none;
    font: normal normal normal 14px/1 FontAwesome;
    color: #003470;
    content: "\f107";
    font-size: 20px;
    border-radius: 0;
    right: 10%;
    top: 50%;
    margin: -11px 0 0 0;
}
.campaignSelector .ui-select .ui-btn,
.dateRangeSelector .ui-select .ui-btn{
    border-bottom: 2px solid #cecece;
    height: 80px;
    padding: 0;
    border-radius: 0;
    border-top:none;
    border-left: none;
    border-right: none;
}
.campaignSelector .ui-select span:before,
.dateRangeSelector .ui-select span:before {
    content: '';
    background: url("../img/select-icons-sprite.png") center -66px no-repeat scroll;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    left: -20px;
    top: 10px;
    transform: scale(1.2);
}

.campaignSelector .ui-select span,
.dateRangeSelector .ui-select span{
    color: #005c85 !important;
    font-size: 18px;
    font-family: "HelveticaNeue-Light";
}


.dateRangeSelector .ui-select span:before{
    background-position: center -29px;
}
.campaignSelector .ui-select span,
.dateRangeSelector .ui-select span {
    line-height: 80px;
    text-align: left;
    padding-left: 70px;
}

.dateRangeSelector{
    width: 100%;
}
.dateRangeSelector .row{
    display: block;
    border-bottom: 2px solid #CECECE;
    padding: 10px 0;
}
.dateRangeSelector p{
    color: #005c84;
    /*display: inline-block;*/
    color: #005C85 !important;
    font-size: 18px;
    font-family: "HelveticaNeue-Light";
    line-height: 18px;
    text-align: left;
    padding-left: 70px;
    font-weight: 700;
    margin:0;
}
.dateRangeSelector p:before {
    content: '';
    background: url("../img/select-icons-sprite.png") center -29px no-repeat scroll;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    left: -20px;
    top: 10px;
    transform: scale(1.2);
}
.dateRangeSelector input{
    background: none no-repeat scroll 0 0 transparent;
    border: none;
    border-radius: 0;
    color: #5a5a5a;
    font-weight: 400;
    padding-left: 13%;
    width: 87%;
    margin-top: 10px;
}
.dateRangeSelector .filter.btn.ingreso{
    border-radius: 2px;
    color: #ffffff;
    border: none;
    width: 250px;
    margin: 0 auto;
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 20px;
}

.ui-widget-header{
    background: none no-repeat scroll 0 0 #005c84;
    border: 2px solid #0181ab;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
    color: #005c84;
}

#thePopUp{
    border-radius: 4px;
    color: #ffffff;
    /*display: none;*/
    background: none no-repeat scroll 0 0 #005c84;
    border: 2px solid #0181ab;
    left: 0;
    margin: 0 auto;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 300px;
}
#thePopUp .popContainer{
    background: none repeat scroll 0 0 #0291c8;
    border: 2px solid #0181ab;
    position: relative;
}
#thePopUp .popContainer p{
    font-size: 18px;
    padding: 0 12px;
}
#thePopUp .popClose{
    border: 3px solid #005c84;
    line-height: 34px;
    display: inline-block;
    padding: 0 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

/**
** Splash Page
**/
#splashPage {
    background: rgb(0,92,133);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjMDA1Yzg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1Mzc5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg,  rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(0,92,133,1)), color-stop(100%,rgba(5,55,147,1)));
    background: -webkit-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -o-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: linear-gradient(135deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
}
#splashPage img{
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 448px;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
}
/**
** homePage
**/
#homePage {
    background: rgb(0,92,133);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjMDA1Yzg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1Mzc5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg,  rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(0,92,133,1)), color-stop(100%,rgba(5,55,147,1)));
    background: -webkit-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -o-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: linear-gradient(135deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
}
#homePage img{
    display: block;
    margin: 48px auto;
    max-width: 300px;
    width: 80%;
}
#homePage .homeMenu{
    margin-top: 100px;
}

/**
** loginPage
**/
#loginPage {
    background: rgb(0,92,133);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjMDA1Yzg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1Mzc5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg,  rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(0,92,133,1)), color-stop(100%,rgba(5,55,147,1)));
    background: -webkit-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -o-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: linear-gradient(135deg,  rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
    /*background:  none no-repeat scroll 0 0 #005c84;*/
}
.theLogo{
    display: block;
    margin: 40px auto;
    max-width: 448px;
    width: 90%;
}
#loginPage .innerContainer > p{
    color: #fff;
    display: block;
    text-align: center;
    text-shadow: none;
    margin: 0 0 30px;
}
#loginPage .innerContainer h2 {
    text-align: center;
    margin: 0;
    margin: 70px auto 0;
}
::-webkit-input-placeholder {
    color: black;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: black;
}
:-ms-input-placeholder {
    color: black;
}
input.campo{
    background: none no-repeat scroll 0 0 #6795b9;
    border: none;
    color: #000;
    display: block;
    line-height: 30px;
    margin: 24px auto;
    padding: 7px 10px 4px;
    width: 90%;
    border-radius: 4px;
}
#loginPage #loginForm .campo.password{
    margin-bottom: 10px;
}
#loginPage #loginForm .ui-btn{
    border: medium none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.errors{
    display: none;
}
.errors img{
    display: inline-block;
    margin: 0 10px 3px;
    vertical-align: middle;
    width: 14px;
}
.errors p{
    color: #939598;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    margin: 5px 0;
}
.btn.ingreso{
    border-radius: 4px;
    color: #ffffff;
    display: block;
    line-height: 50px;
    margin: 20px auto;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    height: 50px;
    background: rgb(255,124,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNjNmMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,124,0,1) 0%, rgba(182,63,11,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,124,0,1)), color-stop(100%,rgba(182,63,11,1)));
    background: -webkit-linear-gradient(top,  rgba(255,124,0,1) 0%,rgba(182,63,11,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,124,0,1) 0%,rgba(182,63,11,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,124,0,1) 0%,rgba(182,63,11,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,124,0,1) 0%,rgba(182,63,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c00', endColorstr='#b63f0b',GradientType=0 );
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.51);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.51);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.51);
}
.btn.ingreso:active {
    color:#c2c2c2;
}
#loginPage #loginForm{
    position: relative;
}
#loginPage #loginForm i {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 25px;
}


/**
** pwdRecoverPage
**/
#pwdRecoverPage {
    background: #005C85;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-35deg, rgba(0,92,133,1) 6%, rgba(5,55,147,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,#005C85), color-stop(100%,#053793));
    background: -webkit-linear-gradient(-35deg, #005C85 6%,#053793 100%);
    background: -o-linear-gradient(-35deg, rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: -ms-linear-gradient(-35deg, rgba(0,92,133,1) 6%,rgba(5,55,147,1) 100%);
    background: linear-gradient(135deg, #005C85 6%,#053793 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c85', endColorstr='#053793',GradientType=1 );
}
#pwdRecoverPage .innerContainer > p{
    color: #fff;
    display: block;
    font-size: 22px;
    margin: 70px auto 0;
    text-align: center;
    text-shadow: none;
}

#pwdRecoverPage #pwdRecoverForm .ui-btn{
    border: medium none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

/**
** contactsPage
**/
#contactPage {
    background:  none no-repeat scroll 0 0 #ffffff;
}
.showSelects {
    display: block;
    float: right;
    position: relative !important;
    text-align: center;
    position: relative;
    z-index: 0;
    color: #fff;
    font-size: 30px !important;
    min-height: 100%;
    line-height: 60px;
    left: 0;
    top:0;
    margin-right: 20px !important;
    cursor: pointer;
}
#contactPage .campaignSelector {
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -ms-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
}
#contactPage .container {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#contactPage .container.show {
    opacity: 1;
    padding: 0;
}
#contactPage .loader,
#contactPage .noResults{
    color: #005c84;
    font-size: 18px;
    margin: 30px 0 0;
    text-align: center;
}
#contactPage .loader img{
    margin: 0 0 0 10px;
}
#contactPage .results ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#contactPage .results ul li:first-child {
    border-top: none;
}
#contactPage .results ul li{
    border-top: 1px solid #d5dbcb;
    cursor: pointer;
    font-family: 'HelveticaLTStd-Roman';
}
#contactPage .results ul li:last-child {
    border-bottom: 1px solid #d5dbcb;
}
#contactPage .results ul li .top .left{
    display: table;
    float: left;
    height: 48px;
    width: 48%;
}
#contactPage .results ul li .top .left p{
    color: #666666;
    display: table-cell;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    vertical-align: middle;
}
#contactPage .results ul li .top .right{
    float: right;
    text-align: right;
    width: 48%;
}
#contactPage .results ul li .top .right p{
    color: #a7a9ac;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
#contactPage .results ul li .msg p{
    color: #666;
    font-size: 16px;
    margin: 0 0 10px;
}
#contactPage .results ul li .msg:after {
    content: '';
    clear: both;
    display: table;
}
#contactPage .wrap {
    clear: both;
    width: 100%;
    background: #f4f6f0;
}
#contactPage .tabs {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}
#contactPage .tabs > li {
    float: left;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    width: 47%;
    border: 2px solid #02508a;
    margin-top: 8px;
    cursor: pointer;
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-ms-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
}
#contactPage .tabs > li:hover, #contactPage .tabs > li.active {
    background-color: #02508a;
}
#contactPage .tabs > li:hover a, #contactPage .tabs > li.active a {
    color: #ffffff;
}
#contactPage .tabs > li a {
    display: block;
    width: 100%;
    color:#02508a;
    text-decoration: none;
}
#contactPage .tabs > li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#contactPage .tabs > li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#contactPage .tabs > li:last-child:after {
    content: '';
    clear: both;
    display: table;
}
#contactPage .contentTabs {
    position: relative;
}
#contactPage .contentTabs .results {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
    position: absolute;
    top: 0;
}
#contactPage .contentTabs .results.todos {
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
#contactPage .contentTabs .results.nuevos {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
#contactPage .contentTabs .results.active{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#contactPage .swiper-container {
    width: 100%;
}
#contactPage .swiper-slide {
    position: relative;
    height: 70px;
}
#contactPage .swiper-slide .info {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35px;
}
#contactPage .swiper-slide .info .name{
    text-transform: capitalize;
    color: #02508A;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}
#contactPage .swiper-slide .info .campaign {
    color: #858585;
    font-size: 12px;
}
#contactPage .swiper-slide.contactAction .arrow {
    margin-left: 30px;
}
#contactPage .swiper-slide.contactAction{
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
#contactPage .swiper-slide.contactAction .arrow .circle{
    border: 1px solid #d5dbcb;
    border-radius: 50%;
    text-align: center;
    width: 27px;
    line-height: 27px;
    display: block;
    position: absolute;
    top: 23px;
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;

}
#contactPage .swiper-slide.contactAction .arrow i {
    color: #03508a;
    font-size: 20px;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}
#contactPage .swiper-slide.contactAction.swiper-slide-active .arrow i{
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
    color: #ffffff;
}
#contactPage .swiper-slide.contactAction.swiper-slide-active .arrow .circle{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#contactPage .swiper-slide.contactAction .action1{
    height: 70px;
    line-height: 70px;
    width: 65%;
    float: right;
    color: #ffffff;
    font-size: 19px;
    display: inline-block;
}
#contactPage .swiper-slide.contactAction .action1 i {
    font-size: 35px;
    display: inline-block;
    padding-left: 50px;
    position: relative;
    top: 5px;
}
#contactPage .swiper-slide.contactAction.swiper-slide-active {
    /*-webkit-box-shadow: inset 0px 1px 20px 2px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow:    inset 0px 1px 20px 2px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: inset 0px 1px 20px 2px rgba(0, 0, 0, 0.5);*/
    background: #02508a;
}
#contactPage .swiper-slide.contactAction:after {
    content: '';
    clear: both;
    display: table;
}

/**
** contactsDetailPage
**/
#contactDetailPage {
    background:  none no-repeat scroll 0 0 #f5f5f5;

}
#contactDetailPage .container {
    margin-top: 60px;
    padding: 0 16px;
}

#contactDetailPage .senderData {
    overflow: hidden;
}
#contactDetailPage .senderData .name{
    color: #666;
    float: left;
    font-size: 22px;
    margin: 0;
}
#contactDetailPage .senderData .mail,
#contactDetailPage .senderData .phone{
    background: url("../img/ico-envelop.png") no-repeat scroll 0 center / 26px auto transparent;
    clear: left;
    color: #666;
    float: left;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0 0;
    padding: 0 0 0 34px;
}
#contactDetailPage .senderData .phone{
    background: url("../img/ico-phone.png") no-repeat scroll 0 center / 26px auto transparent;
}
#contactDetailPage .senderData .date{
    border-top: 1px solid #5cd2ed;
    color: #a7a9ac;
    display: inline-block;
    padding: 4px 0 0;
    text-align: right;
    width: 100%;
}
/*#contactDetailPage .senderData .vote{*/
    /*float: right;*/
/*}*/
/*#contactDetailPage .senderData .vote img{*/
    /*cursor: pointer;*/
    /*margin: 0 0 0 10px;*/
    /*width: 50px;*/
/*}*/
#contactDetailPage .msgContent{}
#contactDetailPage .msgContent p{
    color: #666;
    font-size: 18px;
}
html body #contactDetailPage.ui-page a.blueBtn{
    margin: 60px auto 0;
}

/**
** contactsAnswerPage
**/
#contactAnswerPage {
    background:  none no-repeat scroll 0 0 #f5f5f5;
}
#contactAnswerPage .container {
    margin-top: 60px;
    padding: 60px 16px 0;
}
#contactAnswerPage .senderData{
    border-bottom: 1px solid #5cd2ed;
    overflow: hidden;
    padding: 0 0 14px;
}
#contactAnswerPage .senderData .name{
    color: #666;
    float: left;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}
#contactAnswerPage .senderData .date{
    color: #a7a9ac;
    float: right;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
#contactAnswerPage .sendContactForm{
    margin: 40px auto 0;
    min-width: 290px;
}
#contactAnswerPage .sendContactForm .campo{
    background: none no-repeat scroll 0 0 transparent;
    border: none;
    border-bottom: 2px solid #005c84;
    color: #404041;
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin: 24px auto;
    padding: 0 10px;
    width: 90%;
}
#contactAnswerPage .sendContactForm .campo.textMsg{
    border: 1px solid #939598;
    min-height: 120px;
}
#contactAnswerPage .sendContactForm .ui-btn{
    border: medium none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

/**
** campaignsPage
**/
#campaignPage {
    background:  none no-repeat scroll 0 0 #f5f5f5;
}
#campaignPage .container {
    padding-top: 60px;
}
#campaignPage .results{
    display: block;
    margin: 25px auto 0;
    position: relative;
}
#campaignPage .loader,
#campaignPage .noResults{
    color: #005c84;
    font-size: 18px;
    margin: 30px 0 0;
    text-align: center;
}
#campaignPage .results iframe{
    border: 2px solid #005c84;
    /*border: medium none;*/
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 94%;
}
#campaignPage .loader img{
    margin: 0 0 0 10px;
}

/**
** profilePage
**/
#profilePage {
    background:  none no-repeat scroll 0 0 #f5f5f5;
}
#profilePage .container {
    padding: 60px 16px 0;
}
#profilePage .profileForm{
    margin: 20px auto 0;
    min-width: 290px;
    display: none;
}
#profilePage .profileForm h2{
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0;
}
#profilePage .profileForm .campo{
    background: none no-repeat scroll 0 0 #ffffff;
    border: 1px solid #939598;
    color: #404041;
    display: block;
    font-size: 18px;
    line-height: 39px;
    margin: 10px auto;
    padding: 0 10px;
    width: 90%;
}
#profilePage .profileForm .campo.idEmpresa{
    background: none no-repeat scroll 0 0 #d1d3d4;
    color: #939598;
}
#profilePage .profileForm .campo.textMsg{
    border: 1px solid #939598;
    min-height: 120px;
}
#profilePage .profileForm .ui-btn{
    border: medium none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

/**
** reportsPage
**/
#reportPage {
    background:  none no-repeat scroll 0 0 #ffffff;
}
#reportPage .container {
    padding-top: 60px;
}
.selectsContainer, #campaignPage .campaignSelector{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -ms-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
}

.loader,
#reportPage .noResults{
    color: #005c84;
    font-size: 18px;
    margin: 30px 0 0;
    text-align: center;
}
#reportPage .noResults{
    display: none;
}
#reportPage .loader img{
    margin: 0 0 0 10px;
}
#reportPage .results{
    display: none;
    position: relative;
    border-top: none;
}
#reportPage .results .infoBlockContent{
    text-align: center;
}
#reportPage .results .infoBlock{
    background: none no-repeat scroll 0 0 transparent;
    clear: both;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    vertical-align: middle;
    vertical-align: middle;
    display: block;
    overflow: hidden;
}

#reportPage .results .infoBlock p:first-child:before {
    font: normal normal normal 14px/1 FontAwesome;
    color: #003470;
    font-size: 20px;
    padding-right: 10px;
    position: absolute;
    left: 10px;
    line-height: 20px;
    top: 50%;
    margin-top: -10px;

}
#reportPage .results .infoBlock.clientes {
    border-bottom: 1px solid #e3e3e3;
}

#reportPage .results .infoBlock.anuncios p:first-child:before {
    content: '\f0c0';
}
#reportPage .results .infoBlock.landing p:first-child:before {
    content: '\f06e';
}
#reportPage .results .infoBlock.clientes p:first-child:before {
    content: '\f080';
}

#reportPage .results .infoBlock p:first-child {
    float: left;
    max-width: 60%;
    padding-left: 40px;
    position: relative;
    text-align: left;
}
#reportPage .results .infoBlock p:last-child {
    float: right;
    padding-right: 5%;
}
#reportPage .results .infoBlock p:last-child:after {
    content: '';
    display: table;
    clear: both;
}
#reportPage .results .infoBlock p{
    color: #005c85;
    font-size: 16px;
    margin: 0;
    font-family: 'HelveticaNeueLTStd-Bd';
}
#reportPage .results .graphContainer{
    margin: 20px auto 0;
    vertical-align: top;
    width: 100%;
}
#graph3 {
    background-color: #f4f6f0;
}
#reportPage .results .graphContainer h2{
    background: none no-repeat scroll 0 0 transparent;
    border-radius: 0;
    color: #005C85;
    font-size: 18px;
    margin: 0;
    text-align: center;
    font-family: HelveticaNeueLTStd-Bd;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 15px;
    border-color: #E3E3E3;
}
#reportPage .results .graphContainer #visitContactGraph{
    margin: 0 auto;
}
#reportPage .results .theGraphContent{
    text-align: center;
}
#reportPage .results .graphContainer.completedMonthGraph,
#reportPage .results .graphContainer.consuTypeGraph{
    display: inline-block;
    margin: 0;
    width: 100%;
}
#reportPage .results .graphContainer.completedMonthGraph .theGraph,
#reportPage .results .graphContainer.consuTypeGraph .theGraph{
    border: none;
    border-radius: 0;
}
#reportPage .results .graphContainer.consuTypeGraph .highcharts-container{
    background-color: #f4f6f0;
}
#reportPage .results .graphContainer.completedMonthGraph .highcharts-data-labels,
#reportPage .results .graphContainer.completedMonthGraph .highcharts-data-labels .null,
#reportPage .results .graphContainer.completedMonthGraph .highcharts-data-labels .null span{
    left: 0 !important;
    right: 0;
}
#reportPage .results .graphContainer.completedMonthGraph .highcharts-data-labels .null{
    top: 180px !important;
}
#reportPage .results .graphContainer.completedMonthGraph .graphInfo{
    color: #005C85;
    font-size: 20px;
    text-align: left;
    position: static;
    width: 90%;
    margin: 0 auto;
}



#pieChartInfoText span{
    display: block;
}
#pieChartInfoText span:first-child{
    font-size: 5vw !important;
}
#pieChartInfoText span:last-child{
    font-size: 4vw !important;
}

#progressBar {
    width: 90%;
    margin: 0 5%;
    height: 25px;
    border: 1px solid #000000;
    background-color: transparent;
}

#progressBar div {
    min-height: 100%;
    color: #fff;
    text-align: right;
    line-height: 25px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #F7A35C;
}
#contactDetailPage .container,
#contactAnswerPage .container
#profilePage .container{
    padding-top: 60px;
}