<?xml version='1.0' encoding='utf-8'?>
<widget id="app.pdg.com" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PDG app</name>
    <description> PDG app </description>
    <author email="John@doeCorp.org">John Doe</author>

    <preference name="Fullscreen" value="true" />

    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="org.apache.cordova.dialogs" />

    <icon src="img/ico-upVote.png" />

    <content src="index.html" />
    <access origin="*" />
</widget>